  body {
    font-family: courier;
    background-color: #E3F2FD;
    }
  h1,h4,p {
    color : #1A237E
    }
  h2,h3{
    color : #304FFE
    }
  td,li{
    color : #01579B
    }
  th {
    padding:10px;
    background-color: #1976D2;
    color: white;
    }
  tr:nth-child(even){
    background-color:#BBDEFB;
    }
