@charset "utf-8";
/* CSS Document */

/*buat import font*/
@font-face{
	font-family: 'OpenSansLight';
	src: url(../fonts/OpenSans-Light.woff) format('woff'),
		url(../fonts/OpenSans-Light.ttf) format('ttf'),
		url(../fonts/OpenSans-Light.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'OpenSansSemiBold';
	src: url(../fonts/OpenSans-Semibold.woff) format('woff'),
		url(../fonts/OpenSans-Semibold.ttf) format('ttf'),
		url(../../fonts/OpenSans-Semibold.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Anurati';
	src: url(../fonts/Anurati-Regular.woff) format('woff'),
		url(../fonts/Anurati-Regular.svg) format('svg'),
		url(../fonts/Anurati-Regular.otf) format('otf');
	font-weight: normal;
	font-style: normal;
}

/* untuk animasi dari transparansi 0 sampai 100 */
/* @@-webkit-keyframes supaya support Safari 4.0 - 8.0 */
@-webkit-keyframes h1 {
    from {background-color: rgba(10,220,219,0);}
    to {background-color: rgba(10,220,219,0.6);}
}

@keyframes h1 {
    from {background-color: rgba(10,220,219,0);}
    to {background-color: rgba(10,220,219,0.6);}
}	

body#rumah{
	background-image: url(../assets/img/bgimage.jpg);
	background-color: #F1F1F1;
	background-repeat: no-repeat;
	font-family: 'OpenSansLight';
	font-size:120%;
	text-decoration: none;
}

 #navbar ul {
	margin: 0.5%;
	padding-top: 0.5%;
	list-style-type: none;
	text-align: right;
	} 

#navbar ul li {  
	display: inline;
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff;
	} 
 
#navbar ul li a:hover { 
	color: white; 
	background-color: rgba(10,220,219,0.2);
	padding-top: 1em;
	padding-bottom: 1em;
	}

.selected {
	background-color: rgba(10,220,219,0.2);
	padding-top: 1em;
	padding-bottom: 1em;
}

#navbar img{
	float: left;
	width: 10%;
	padding-left: 5%;
	padding-top: 0.3%;
}

.cover{
	padding-top: 4.5%;
	text-align: center;
}

.cover h1{
	font-family: 'Anurati';
	color: white;
	font-size: 3em;
	border: 4px solid rgba(10,220,219,0.3); 
	margin-left: 400px;
	margin-right: 400px;
	padding-top: 18px;
	padding-bottom: 18px;
}

/*Animasi background di tulisan 'bike online'*/
.cover h1:hover{
	-webkit-animation-name: h1;
    -webkit-animation-duration: 3s;
    animation-name: h1;
    animation-duration: 3s;
}

.cover p{
	color: white;
	margin-top: -2.5%;
}

.service {
	padding-top: 9.6%;
	padding-bottom: 250px;
}

.deskripsi {
	text-align: center;
}

.deskripsi h2{
	color: #363636;
	font-size: 130%;
	border-bottom: 2px solid rgba(10,220,219,0.3);
	margin-left: 20%;
	margin-right: 20%;
}

.deskripsi p{
	margin-top: -20px;
	color:gray;
	font-size: 80%;
	margin-bottom: 50px;
}

/*circle bion bike*/
.circle {
	background: url(../assets/img/motorbike.png);
	border-radius: 50%;
	height: 140px;
	width: 140px;
	transition: all .3s ease-in-out;
	float: left;
	margin-left: 18.5%;
}

.text {
	color:rgba(0,0,0,0);
	font-family: 'OpenSansSemiBold';
	text-align: center;
	padding-top: 0px;
	transition: all .3s ease-in-out;
}

.circle:hover {
	border-radius:0;  
	cursor: pointer;
}

.circle:hover .text {
	padding-top: 55px;
	padding-bottom: 57.5px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(10,220,219,0.4);
}

/*circle bion hitch bike*/

.circle2 {
	background: url(../assets/img/motorbike2.png);
	border-radius: 50%;
	height: 140px;
	width: 140px;
	transition: all .3s ease-in-out;
	float: left;
	margin-left: 50px;
}

.text2 {
	color:rgba(0,0,0,0);
	font-family: 'OpenSansSemiBold';
	text-align: center;
	padding-top: 0px;
	transition: all .3s ease-in-out;
}

.circle2:hover {
	border-radius:0;  
	cursor: pointer;
}

.circle2:hover .text2 {
	padding-top: 55px;
	padding-bottom: 30.5px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(10,220,219,0.4);
}

/*circle for bion car*/

.circle3{
	background: url(../assets/img/car.png);
	border-radius: 50%;
	height: 140px;
	width: 140px;
	transition: all .3s ease-in-out;
	float: left;
	margin-left: 50px;
}

.text3 {
	color:rgba(0,0,0,0);
	font-family: 'OpenSansSemiBold';
	text-align: center;
	padding-top: 0px;
	transition: all .3s ease-in-out;
}

.circle3:hover {
	border-radius:0;  
	cursor: pointer;
}

.circle3:hover .text3 {
	padding-top: 55px;
	padding-bottom: 57.5px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(10,220,219,0.4);
}

/*circle bion hitch car*/

.circle4{
	background: url(../assets/img/car2.png);
	border-radius: 50%;
	height: 140px;
	width: 140px;
	transition: all .3s ease-in-out;
	float: left;
	margin-left: 50px;
}

.text4 {
	color:rgba(0,0,0,0);
	font-family: 'OpenSansSemiBold';
	text-align: center;
	padding-top: 0px;
	transition: all .3s ease-in-out;
}

.circle4:hover {
	border-radius:0;  
	cursor: pointer;
}

.circle4:hover .text4 {
	padding-top: 55px;
	padding-bottom: 30.5px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(10,220,219,0.4);
}

/*Bion Courir*/
.circle5{
	background: url(../assets/img/van.png);
	border-radius: 50%;
	height: 140px;
	width: 140px;
	transition: all .3s ease-in-out;
	float: left;
	margin-left: 50px;

}

.text5 {
	color:rgba(0,0,0,0);
	font-family: 'OpenSansSemiBold';
	text-align: center;
	padding-top: 0px;
	transition: all .3s ease-in-out;
}

.circle5:hover {
	border-radius:0;  
	cursor: pointer;
}

.circle5:hover .text5 {
	padding-top: 55px;
	padding-bottom: 57.5px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(10,220,219,0.4);
}

.harga-head h1{
	text-align: center;
 	margin-top: -0.6em;
	font-size: 2em;
	color: #7E7A7A;
}

.tabel{
	 margin: 5% 0;
}

.layanan1,.layanan2,.layanan3,.layanan4,.layanan5{
	width: 28%;
  	float: left;
  	text-align: center;
    margin-right: 0.3%;
	margin-top: 2%;
  	border: 2px solid #EAEAEA;
  	padding: 1em 1em;
}

.jenis-layanan h2{
	font-size: 1.5em;
	color:#FFF;
}

.jenis-layanan,.jenis-layanan2,.jenis-layanan3,.jenis-layanan4,.jenis-layanan5{
	background:#3e92cc;
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}

.jenis-layanan2{
	background: #2a628f;
}

.jenis-layanan3{
	background: #13293d;
}

.jenis-layanan4{
	background: #16324f;
}

.jenis-layanan5{
	background: #18435a;
}

.jenis-layanan ul,.jenis-layanan2 ul,.jenis-layanan3 ul,.jenis-layanan4 ul,.jenis-layanan5 ul{
	padding: 0%;
}

.jenis-layanan ul li,.jenis-layanan2 ul li,.jenis-layanan3 ul li,.jenis-layanan4 ul li,.jenis-layanan5 ul li,.layanan1{
	list-style: none;
}

.jenis-layanan h5,.jenis-layanan2 h5,.jenis-layanan3 h5,.jenis-layanan4 h5,.jenis-layanan5 h5{
	color: #fff;
	font-size:1.2em;
	padding: 1px;
}

.layanan1 ul li,.layanan2 ul li,.layanan3 ul li,.layanan4 ul li,.layanan5 ul li{
	color:#989898;
	font-size: 18px;
  	text-align: center;
  	display: block;
  	padding: 10px 0;
  	text-decoration: none;
  	font-weight: 300;
  	line-height: 1.2em;
  	border-bottom: 1px solid #F1EFEF;
	
}

.harga{
	background: #fff;
	padding:0.9em 0.9em;
}

.harga ul{
	padding: 0;
}

.harga ul li{
	list-style: none;
}

.bungkus{
	margin: 0  auto;
	width: 70%;
}